arrume essa responsividade 

*{
    margin: 0;
    padding: 0;
    height: 100vh;
}

main{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    
}

.container-info .box p{
        margin: 0;
        font-weight: 500;
    }


.container-info .box .img img {
    width: 24px;
    height: 24px;
}

.box{
    display: flex;
    background-color: #EAEAEA;
    padding-left: 20px;
    padding: 30px;
    justify-content: space-between;
    width: 330px;
    height: 90px;
    border-radius: 25px;
}


.box .img{
    width: 20px;
    height: 20px;
    max-width: 10px;
}

