* {
    margin: 0;
    padding: 0;
}

.container-info {
    padding-top: 80px;
}

.info {
    display: flex;
    margin-left: 30px;
    gap: 20px;
    justify-content: space-between;
}

.box-info {
    margin-bottom: 50px;
    margin-right: 50px;
    gap: 200px;

}

.box {
    
    flex: 1;
    padding: 40px;
    
    background-color: #EAEAEA;
    border-radius: 12px;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 20px;
}

